.displayHome {
    height: 100%;
    width: 100%;
    background-image: url("../resources/abstract-green-curve-gradient-template-on-white-background-free-vector.jpg");
    background-size: cover;

}

.bot {
    width: 500px;
    margin-bottom: 100px;
    margin-right: 70px;
}

.body {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    height: 100%;
}

.bienvenido {
    display: flex;
    justify-content: center;
    width: 55%;
    align-items: center;
    height: 100%;
}

.contImg{
    width: 45%;
    display: flex;;
    justify-content: flex-end;
}

.welcome {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 100px
}


@media (max-width:1240px) {
    .body {
        display: block;
    }

    .bienvenido {
        height: 20%;
        width: 100%;
        display: flex;
        margin-bottom: 100px;
    }

    .welcome {
        margin-top: 150px;
        font-size: 70px;
    }

    .contImg{
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }

}

@media (max-width:600px) {
    .welcome {
        margin-top: 150px;
        font-size: 50px;
    }

    .bot {
        margin: 0px;
        width: 95%;
    }
}